@import url("https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap");

#header {
	font-family: "Playwrite PL", cursive;
	font-optical-sizing: auto;
	font-style: normal;
	text-align: center;
}
#space {
	display: flex;
	max-height: 70vh;
	max-width: 70vh;
	min-height: 70vh;
	min-width: 70vh;
	flex-wrap: wrap;
	border: 1px solid rgb(148, 114, 235);
	border-width: 1rem;
	background-color: white;
	margin-left: 4rem;
}
.biggerBrush {
	width: calc(100% / 16);
	height: calc(100% / 16);
	/* border: 1px solid rgb(2, 0, 7); */
	box-sizing: border-box;
}

.smallerBrush {
	width: calc(100% / 32);
	height: calc(100% / 32);
	/* border: 1px solid rgb(2, 0, 7); */
	box-sizing: border-box;
}
.smallerBrushExtra {
	width: calc(100% / 64);
	height: calc(100% / 64);
	/* border: 1px solid rgb(2, 0, 7); */
	box-sizing: border-box;
}

.square:hover {
	background-color: grey; /* Just to show hover effect, not necessary */
}
#game {
	display: flex;
	gap: 2rem;
	justify-content: center;
}
.buttons {
	align-self: center;
	max-width: 4rem;
	min-width: 4rem;
	border: 1px solid rgb(148, 114, 235);
	border-width: 0.5rem;
	box-shadow: none;
	color: white;
}
#btns {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border: 1px solid rgb(148, 114, 235);
	border-width: 1rem;
	justify-content: space-evenly;
}
#blueBtn {
	background-color: blue;
}
#blackBtn {
	background-color: black;
}
#redBtn {
	background-color: red;
}
#greenBtn {
	background-color: green;
}
body {
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sideTitles {
	font-size: 2rem;
	text-align: center;
}
.brushBtnsSection {
	display: flex;
	justify-content: space-between;
}
.brushBtns {
	color: black;
}
